
.sub_device_div{
    /* border: 2px solid red; */
    height: 730px;


 display: flex;
 flex-wrap: nowrap;
 justify-content: space-around;
 margin-top: 70px;
}
.main_device_div{
    /* border: 2px solid #008000; */
    height: 800px;
}

.mac2_img{
    /* border: 2px solid #008000; */

    width: 900px;
    margin-left: -14%;
}
.wave2_div{
    /* border: 2px solid #12398d; */

    height: 250px;
    position: absolute;
    top: 630%;
    z-index: -1;
}
.wave2_img{
    /* border: 2px solid #80004f; */

    height: 400px;
    width: 25%;
}
.left_airpod_div{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -400px;
    left: 0%;
}
.right_airpod_div{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -550px;
    left: 10%;
}
.red_muted_div{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -1050px;
    left: 30%;
}

.h1{
    font-size: 2.5em;
}
.p{
    font-size: 1.2em;
    color: gray;
}

@media screen and (max-width:1125px){
    .left_airpod_div{
        top: -320px;
    }
    .right_airpod_div{
        top: -430px;
    }
    .red_muted_div{
        top: -800px;
    }
    .mac2_img{
        width: 700px;
    }
    .red_muted_img{
        width: 200px;
        height: 300px;
    }
    .right_airpod_img{
        height: 150px;
    }
    .left_airpod_img{
        height: 150px;
    }
    .wave2_img{
        height: 300px;
    }
    .download2_btn{
        width: 200px;
    }
}
@media screen and (max-width:1103px){
    
    .wave2_img{
        height: 200px;
    }
}
@media screen and (max-width:1060px){
    
    .wave2_div{
        display: none;
    }
    .h1{
        font-size: 2.3em;
    }
    .p{
        font: 1em sans-serif;
    }
    .download2_btn{
        width: 170px;
        font: 1em sans-serif;
        height: 50px;
    }
}
@media screen and (max-width:1000px){
   
    .h1{
        font-size: 2em;
    }
    .p{
        font: 1em sans-serif;
    }
    .download2_btn{
        width: 170px;
        font: 1em sans-serif;
        height: 50px;
    }
}
@media screen and (max-width:940px){
 .sub_device_div{
     display: flex;
     flex-direction: column-reverse;
 }   
 .haeding_div{
     width: 60%;
     margin: 0% auto;
     margin-top: 30px;
 }
 .mac2_div{
     text-align: center;
 }
 .mac2_img{
     margin: 0% auto;
 }
 .device_div{
     margin-top: 60px;
 }
 .red_muted_div{
     left: 45%;
 }
 .red_muted_img{
     width: 150px;
     height: 250px;
 }
 .right_airpod_div{
     left: 30%;
 }
 .left_airpod_div{
     left: 22%;
 }
}
@media screen and (max-width:920px){
   
    .left_airpod_div{
        left: 20%;
    }
}

@media screen and (max-width:770px){
    
    .right_airpod_div{
        left: 26%;
    }
    .left_airpod_div{
        left: 15%;
    }
}
@media screen and (max-width:740px){
    .mac2_img{
        width: 500px;
    }
    .red_muted_img{
        width: 80px;
        height:170px;
    }
    .right_airpod_img,.left_airpod_img{
        height: 100px;
    }
    .left_airpod_div{
        top: -230px;
        left: 22%;
    }
    .right_airpod_div{
        top: -300px;
        left: 32%;
    }
    .red_muted_div{
        top: -540px;
    }
}
@media screen and (max-width:700px){
    .left_airpod_div{
        left: 22%;
    }
    .right_airpod_div{
        left: 32%;
    }
    
}
@media screen and (max-width:655px){
    .left_airpod_div{
        left: 20%;
    }
    .right_airpod_div{
        left: 30%;
    }
    
}
@media screen and (max-width:575px){
    .haeding_div{
        width: 90%;
        padding: 10px;
    }
    .mac2_div{
        padding: 10px;
    }
    .mac2_img{
        width: 100%;
    }
    
}



@media screen and (max-width:450px){
    .right_airpod_img,.left_airpod_img{
        height: 70px;
    }
    .red_muted_img{
        height: 120px;
        width: 80px;
    }

    .left_airpod_div{
        top: -190px;
        left: 15%;
    }
    .right_airpod_div{
        top: -230px;
        left: 27%;
    }
    .red_muted_div{
        top: -400px;
    }
}
@media screen and (max-width:350px){
    .h1{
        font-size: 1.7em;
    }
    .left_airpod_div{
        top: -160px;
        left: 15%;
    }
    .right_airpod_div{
        top: -200px;
        left: 27%;
    }
    .red_muted_div{
        top: -370px;
    }
}
@media screen and (max-width:322px){
    .h1{
        font-size: 1.4em;
    }
    .right_airpod_img,.left_airpod_img{
        height: 50px;
    }
    .red_muted_img{
        height: 100px;
        width: 60px;
    }
    .left_airpod_div{
        top: -135px;
        left: 15%;
    }
    .right_airpod_div{
        top: -165px;
        left: 27%;
    }
    .red_muted_div{
        top: -290px;
    }
}
