/* .main_macbook_div{
    border: solid 2px;
} */
.sub_macbook_div{
    /* border: solid 2px; */
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: 100% 300px;

}

.macImg_div{
    margin-top: 150px;
    text-align: center;
    max-width: 100%;

}
.macbook_img{
   /* width: 80%; */
}
.voice_img_div{
    /* border: solid 2px; */
    width: 230px;
   height: 180px;
    position: relative;
    left:  55%;
    /* top: 345%; */
    top: -420px;
}
.kyboard_voice_img{
    position: absolute;
    left: 5%;
    top: 0%;
    width: 230px;
    height: 180px;
}
.para_div{
 margin-top: 60px;
}

@media only screen and (max-width:1060px){
    .macbook_img{
        width: 900px;
    }
}
@media only screen and (max-width:950px){
    /* .voice_img_div{
       top: 340%;
    } */
    .sub_macbook_div{
        background-size:100% 150px;
    }
    .macImg_div{
        width: 100%;
    }
}
@media only screen and (max-width:920px){
    .macbook_img{
        width: 700px;
    }
    .kyboard_voice_img{
        width: 180px;
        height: 140px;
    }
    .voice_img_div{
      top: -300px;
    }
}
@media only screen and (max-width:770px){
    .macbook_img{
        width: 600px;
    }
    .kyboard_voice_img{
        width: 150px;
        height: 110px;
    }
    .voice_img_div{
       top: -260px;
    }
}
@media only screen and (max-width:710px){
    .macbook_img{
        width: 500px;
    }
    .kyboard_voice_img{
        width: 130px;
        height: 90px;
    }
    .voice_img_div{
       top: -220px;
    }
}
@media only screen and (max-width:700px){
    /* .voice_img_div{
        top: 332%;
    } */
}
@media only screen and (max-width:530px){
    .macbook_img{
        width: 100%;
    }
    .sub_macbook_div{
        background: none;
    }
    /* .voice_img_div{
        top: 332%;
    } */
    .kyboard_voice_img{
        width: 120px;
    }
    /* .voice_img_div{
        top: 2000px;
    } */
}
@media only screen and (max-width:500px){
    /* .voice_img_div{
        top: 312%;
    } */
}
@media only screen and (max-width:470px){
    .voice_img_div{
        top: -180px;
    }
}
@media only screen and (max-width:400px){
    .kyboard_voice_img{
        width: 90px;
        height: 90px;
    }
    .voice_img_div{
        width: 90px;
        height: 90px;
    }
}
@media only screen and (max-width:350px){
    .kyboard_voice_img{
        width: 70px;
        height: 70px;
    }
    .voice_img_div{
        top: -150px;
        width: 70px;
        height: 70px;
    }
}
@media only screen and (max-width:320px){
    .kyboard_voice_img{
        width: 70px;
        height: 70px;
    }
    .voice_img_div{
        top: -140px;
    }
}
@media only screen and (max-width:290px){
    
    .voice_img_div{
        top: -120px;
    }
}