body{
  /* border: 2px solid; */
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgb(196, 223, 248),white,white,white,white,white,white,white,white,white,rgb(196, 223, 248));
  background-repeat: no-repeat;
  /* background-size: 100%; */
  overflow-x: hidden;
}